body {
  padding-left: 0;
  padding-right: 0;
}

.navbar {
  background: transparent;
  color: gray;
}

.navbar:hover {
  color: white;
}

.coverRow {
  background: black;
  color: white;
  text-align: center;
  padding-top: 20vh;
  height: 100vh;
}

.aboutRow {
  height: 30vh;
  text-align: center;
}

.portfolioRow {
  height: 30vh;
  text-align: center;
  background: gray;
}

.contactRow {
  text-align: center;
}

.iconRow {
  text-align: center;
}

.mailBtn, .githubBtn {
  color: black;
}



footer {
  margin-top: 5vh;
  text-align: center;
}
