body {
  padding-left: 0;
  padding-right: 0;
}

#jcNav, #aboutNav, #portfolioNav, #contactNav {
  color: white;
}

.navbar {
  background: black;
  font-size: 18px;
}

.navbar-brand {
  font-size: 23px;
}

.coverRow {
  background-image: url('images/CoverBackground.jpg');
  background-position: center;
  background-size: cover;
  color: white;
  font-size: 40px;
  text-align: center;
  padding-top: 40vh;
  height: 100vh;
}

#coverHeader {
  font-size: 80px;
  font-weight: bold;
}

.aboutRow {
  height: 20vh;
  text-align: center;
  padding: 0 10vw 0 10vw;
}

#about {
  padding-top: 8vh;
}

#aboutHeader {
  font-size: 60px;
  font-weight: bold;
}

#aboutDescription {
  font-size: 20px;
}

#portfolio {
  padding-top: 8vh;
}

#portfolioHeader {
  font-size: 60px;
  font-weight: bold;
}

#portfolioDescription {
  font-size: 20px;
}

.thumbnail {
  min-height: 54vh;
  max-height: 54vh;
  overflow: scroll;
}

.portfolioRow {
  height: 20vh;
  text-align: center;
  padding: 0 10vw 0 10vw;
}

.portfolioRowOne, .portfolioRowTwo {
  display: inline-block;
}

/*.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.thumbnail:hover .overlay {
  height: auto;
}*/

.contactRow {
  text-align: center;
}

#contactHeader {
  font-size: 60px;
  font-weight: bold;
}

#contactDescription {
  font-size: 20px;
}

.iconRow {
  text-align: center;
}

.mailBtn, .githubBtn {
  color: black;
  padding: 20px 20px 0 20px;
}

footer {
  margin-top: 3vh;
  text-align: center;
}
